* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-wrap: pretty;
  /* border: 1px solid red; */
  /* border: 1px solid black; */
}

:root {
  --primaryColor: #be9c79;
  --secondaryColor: #666666;
  --tertiaryColor: #333333;
  --darkColor: #000000;
  --lightColor: #ffffff;
  --regularFont: 1.6rem;
  --headingFont: 2.5rem;
  --ffPrimary: "Nunito", sans-serif;
  --ffSecondary: "Merienda", cursive;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

section,
div {
  scroll-margin-top: 11rem;
}

body {
  background-color: #ffffff;
  font-family: var(--ffPrimary);
  color: var(--darkColor);
  font-size: var(--regularFont);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-optical-sizing: auto;
  /* border: 1px solid black; */
}


h1,
h2,
h3,
h4,
h6,
p {
  text-wrap: balance;
}

input,
textarea,
button {
  font-family: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: var(--primaryColor);
  font-family: var(--ffPrimary);
  color: var(--lightColor);
  font-size: var(--regularFont);
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.1rem;

  cursor: pointer;
  border: none;
  border-radius: 0rem;
  padding: 1.5rem 3rem;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: var(--darkColor);
  color: var(--lightColor);
  transition: background-color 0.2s ease;
}

/* :::::SCROLL BAR CODE S T A R T S::::: */

/* Width and height of the scrollbar */
::-webkit-scrollbar {
  width: 1.5rem;
  /* Vertical scrollbar */
  height: 10px;
  /* Horizontal scrollbar */
}

/* Track (background of the scrollbar) */
::-webkit-scrollbar-track {
  background: #e3e4e6;
  border-radius: 5px;
}

/* Scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background: #cececf;
  /* border-radius: 5px; */
}

/* On hover */
::-webkit-scrollbar-thumb:hover {
  background: #b9b9ba;
}

/* :::::SCROLL BAR CODE E N D S::::: */

/* project standard classes Starts */
.componentSpacing {
  padding: 3rem 0rem;
  /* Breathing Space Between Components */
}

.screenSize {
  max-width: 1200px;
  /* Device Screen Size */
  margin: auto;
  /* Left and right Center */
}

.grid-1 {
  display: grid;
  grid-template-columns: 1fr;
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.dflex {
  display: flex;
  /* without this wont work */
  align-items: center;
  /* top & bottom Alignment */
  justify-content: center;
  /* left & right Alignment */
}

.dflex-1 {
  display: flex;
  flex-direction: column;
  /* makes top to bottom align */
  align-items: center;
  /* Behaves like a justify-content */
  justify-content: center;
}

.dflex-col {
  display: flex;
  flex-direction: column;
  /* makes top to bottom align */
  align-items: center;
  /* Behaves like a justify-content */
  justify-content: center;
  /* Behaves like a align-items */
  text-align: center;
}

/* project standard classes Ends */

/* :::PARENT CONTAINER Code Starts here::: */

header {
  /* background-color: #13c6bd; */
  width: 100%;
  /* Full Screensize */
  height: auto;
  /* content Height */
}

main {
  /* background-color: #ffbf00; */
  width: 100%;
  height: auto;
}

footer {
  /* background-color: #89f357; */
  width: 100%;
  height: auto;
}

/* :::PARENT CONTAINER Code Ends here::: */


/* :::HEADER Code Starts hereE::: */
/* Navbar code */
.navBar {
  background-color: #ffffff;
  padding: 2.6rem 0rem;
  position: fixed;
  width: 100%;
  border-radius: 0.5rem;
  box-shadow: 0.125rem 0.3rem rgba(0, 0, 0, 0.075);
}

.navBarBoxOne figure img {
  width: auto;
  height: 5rem;
  margin-left: 6.5rem;
}

.navBarBlockTwo #iconToggle {
  display: none;
}

.navBarBlockTwo .hamburgerIcon {
  display: none;
  color: #343a40;
  font-size: 3rem;
  border: 1.5px solid #343a40;
  border-radius: 0.3rem;
  padding: 0rem 0.75rem;
}

.navBarBoxTwo {
  width: 98%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

ul {
  display: flex;
  padding-top: 1rem;
}

.links a {
  font-family: var(--ffPrimary);
  color: #343a40;
  font-size: 2rem;
  font-weight: 400;
  margin-left: 2rem;
}

.links li:hover a {
  color: #000000;
  font-weight: 500;
}

/* Navbar code */

/* Hero Section code */
.heroSection {
  background: linear-gradient(90deg, white, transparent 70%), url(./asset/images/home-bg.jpg);
  padding: 25rem 0rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.heroSectionBlock {
  height: 100%;
}

.heroSectionBox {
  width: 50%;
  height: 100%;
  text-align: center;
  padding-bottom: 4rem;
}

.heroSectionBox h1 {
  font-family: var(--ffSecondary);
  font-size: 5rem;
  font-weight: 900;
  color: #212529;
}

.heroSectionBox p {
  font-family: var(--ffPrimary);
  text-align: center;
  color: #212529;
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.heroSectionBox button {
  background-color: var(--primaryColor);
  font-family: var(--ffPrimary);
  color: var(--lightColor);
  font-size: 2rem;
}

button:hover {
  background-color: var(--darkColor);
  color: var(--lightColor);
  transition: background-color 0.2s ease;
}

/* Hero Section code */
/* :::HEADER Code Ends here::: */

/* :::MAIN Code Starts here::: */
/* Our Menu code */
.ourMenu figure img {
  width: 100%;
  aspect-ratio: 1/1;
  padding: 5rem;
}

.ourMenu h2 {
  font-family: var(--ffSecondary);
  font-size: 4rem;
  color: #212529;
  font-weight: 850;
  line-height: 1.2;
  margin-bottom: 1.5rem;
}

.ourMenu p {
  font-family: var(--ffPrimary);
  font-size: 1.6rem;
  color: #212529;
  font-weight: 400;
}

.ourMenu button {
  background-color: var(--primaryColor);
  font-family: var(--ffPrimary);
  color: var(--lightColor);
  font-size: 2rem;
  margin-top: 2rem;
}

button:hover {
  background-color: var(--darkColor);
  color: var(--lightColor);
  transition: background-color 0.2s ease;
}

/* Our Menu code */

/* Facility code */
.facility {
  padding: 1rem 0rem;
}

.facility figure img {
  width: auto;
  height: 4rem;
}

.facilityBox h2 {
  font-family: var(--ffSecondary);
  font-size: 4rem;
  font-weight: 800;
  color: #212529;
}

.facilityBodyTwo {
  margin-top: 2rem;
}

.facilityBoxes figure img {
  width: auto;
  height: 9rem;
}

.facilityBoxes h3 {
  font-family: var(--ffPrimary);
  font-size: 2rem;
  font-weight: 500;
  color: #212529;
  margin-top: 1.5rem;
}

.facilityBoxes p {
  font-family: var(--ffPrimary);
  font-size: 1.6rem;
  font-weight: 400;
  margin-top: 1rem;
  color: #212529;
}

/* Facility code */

/* Popular code */
.popularContainer {
  max-width: 975px;
  margin: auto;
}

.popularBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popularBox figure img {
  width: auto;
  height: 4rem;
}

.popularBox h2 {
  font-family: var(--ffSecondary);
  font-size: 4rem;
  font-weight: 800;
  color: #212529;
}

.popularBodyTwo {
  gap: 2rem;
  margin-top: 1rem;
}

.popularBoxes figure img {
  width: 100%;
  aspect-ratio: 1/1;
}

.popularBoxes h3 {
  font-family: var(--ffPrimary);
  color: #212529;
  font-size: 2rem;
  font-weight: 400;
}

/* Popular code */

/* Gallery code */
.galleryContainer {
  max-width: 1100px;
  margin: auto;
}

.galleryBox figure img {
  width: auto;
  height: 4rem;
}

.galleryBox h2 {
  font-family: var(--ffSecondary);
  font-size: 4rem;
  color: #212529;
  font-weight: 800;
}

.galleryBodyTwo {
  gap: 3rem;
  padding: 1.5rem 0rem;
}

.galleryBoxes figure img {
  width: 100%;
  aspect-ratio: 15/11;
}

/* Gallery code */

/* Team code */
.team {
  padding: 0rem 0rem;
}

.teamContainer {
  max-width: 975px;
  margin: auto;
}

.teamBox figure img {
  width: auto;
  height: 4rem;
}

.teamBox h2 {
  font-family: var(--ffSecondary);
  font-size: 4rem;
  color: #212529;
  font-weight: 800;
}

.teamBodyTwo {
  column-gap: 3rem;
}

.teamBoxes figure img {
  width: 100%;
  aspect-ratio: 1/1;
  margin-top: 2rem;
}

.teamBoxes h3 {
  font-family: var(--ffPrimary);
  color: #212529;
  font-size: 2rem;
  font-weight: 400;
}

/* Team code */
/* :::MAIN Code Ends here::: */

/* :::FOOTER Code Starts here::: */
/* Contact code */
.contactContainer {
  max-width: 1100px;
  margin: auto;
}

.contactBox figure img {
  width: auto;
  height: 4rem;
}

.contactBox h2 {
  font-family: var(--ffSecondary);
  font-size: 4rem;
  color: #212529;
  font-weight: 800;
}

.contactBoxOne figure img {
  width: 100%;
  aspect-ratio: 1/1.4;
}

.contactBoxTwo {
  width: 100%;
}

.bookATable {
  border: 1px solid black;
  text-align: center;
  padding: 1rem 0rem;
}

.bookATable h3 {
  font-family: var(--ffPrimary);
  font-size: 3.5rem;
  color: #212529;
  font-weight: 500;
}

.formGroup {
  padding: 1.5rem 0rem;
}

.formGroup input {
  padding: 1rem 2rem;
}

.formGroup input[placeholder] {
  font-family: var(--ffPrimary);
  font-size: 2.5rem;
  color: #212529;
  font-weight: 400;
  width: 90%;
  border: 1px solid black;
}

form button {
  margin: 2rem 0rem;
  font-family: var(--ffPrimary);
  font-size: 2rem;
  color: var(--lightColor);
  font-weight: 400;
}

input:focus {
  /* outline: none; */
  outline-color: #80BDFF;
  border-color: #80BDFF;
  box-shadow: 0 0 0 4px rgb(128, 189, 255, 0.5);
}

/* Contact code */

/* Contact code */

/* Contact Icons code */

.contactIconsContainer {
  max-width:1110px ;
  margin: auto;
}

.contactIconsBodyOne {
  margin-bottom: 4rem;
}

.contactIconsBoxes i {
  font-size: 4rem;
  padding: 12px;
  background-color: #be9c79;
  border-radius: 50%;
  height: 7rem;
  width: 7rem;
  color: white;
  margin-bottom: 3rem;
}

.contactIconsBoxes h3 {
  font-family: var(--ffPrimary);
  font-size: 2rem;
  font-weight: 500;
  color: #212529;
  margin-bottom: 1rem;
}

.contactIconsBoxes p {
  font-family: var(--ffPrimary);
  font-weight: 400;
  font-size: 2rem;
  color: #212529;
}

.contactIconsBodyTwo {
  border-top: 2px solid #212529;
}

.contactIconsBox p {
  font-size: 2rem;
  color: #212529;
  padding-top: 2rem;
}

.contactIconsBox p span {
  color: #be9c79;
}

/* Contact Icons code */

/* :::FOOTER Code Ends here::: */


/* ::::: RESPONSIVE DESIGN DEVICE SIZES ::::: */

/* for Responsive Target the ROW Code (display:grid) */

/* Small devices (landscape phones, upto 576px and below) */
/* @media (width <=576px) */
@media (max-width: 576px) {

  .grid-1,
  .grid-2,
  .grid-3,
  .grid-4 {
    grid-template-columns: 1fr;
    padding: 0rem 1rem;
  }

  /* Navbar code */

  .navBarBlockTwo .hamburgerIcon {
    display: block;
    position: absolute;
    top: 3rem;
    right: 4rem;
    cursor: pointer;
  }

  .links {
    display: none;
    flex-direction: column;
  }

  .navBarBoxTwo {
    justify-content: end;
  }

  .navBarBoxTwo .links li a {
    padding: 1rem 0rem;
    display: flex;
  }

  #iconToggle:checked~.links {
    display: flex;
  }

  #iconToggle:checked~.links li:hover a {
    color: #000000;
    font-weight: 500;
  }

  /* Navbar code */

  /* Hero Section code */

  .heroSectionBox {
    margin-left: 2rem;
  }

  .heroSectionBox h1 {
    font-size: 3rem;
  }

  /* Hero Section code */

  /* Our Menu code */

  .ourMenuBoxTwo {
    padding: 0rem 2rem;
  }

  /* Our Menu code */

  /* Facility code */
  .facility {
    margin-top: 1rem;
  }

  /* Facility code */

  /* Popular code */
  .popularBodyTwo {
    padding: 0rem 4rem;
  }

  /* Popular code */

  /* Gallery code */

  .galleryBodyTwo {
    padding: 1.8rem 1.5rem;
  }

  /* Gallery code */

  /* Team code */
  .teamBodyTwo {
    padding: 0rem 9rem;
  }

  /* Team code */

  /* Contact code */

  .contactBlockTwo {
    padding: 0rem 0.5rem;
  }

  /* Contact code */

  /* Contact Icons code */

  .contactIconsBox {
    text-align: center;
  }
  .contactIconsBoxes i{
    margin-top: 2.5rem;
  }

  /* Contact Icons code */
}

/* Medium devices (tablets, upto 768px and above) */
/* @media (width >=577px) and (width <=768px) */
@media (min-width: 577px) and (max-width: 768px) {
  /* write code here */
}

/* Large devices (Laptops, upto 992px and above) */
/* @media (width >=769px) and (width <=992px) */
@media (min-width: 769px) and (max-width: 992px) {
  /* write code here */
}

/* X-Large devices (large desktops, upto 1200px and above) */
/* @media (width >=993px) and (width <=1200px) */
@media (min-width: 993px) and (max-width: 1200px) {
  /* write code here */
}

/* XX-Large devices (larger desktops, upto 1400px and above) */
/* @media (width >=1200px) */
@media (min-width: 1201px) {
  /* write code here */
}